<!DOCTYPE html>
<html lang="uz">
  <head>
    <meta charset="utf-8">
    <title>Go by Example: Topilmadi</title>
    <link rel=stylesheet href="site.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example</a></h2>
      <p>Kechirasiz, buni topa olmadik! <a href="./">Bosh sahifani</a> ko'rib chiqasizmi?</p>
{{ template "footer" }}
    </div>
  </body>
</html>
